.nav{
    background-color: red;
    width: 100%;
    height: 200px;
    display: flex;
}
.nav1{
background-color: white;
width: 100%;
height: 75px;
display: flex;
gap: 100px;
padding: 20px;
margin: 60px;
margin-top: 20px;
}
.logo{
height: 50px;
width: 50px;
margin-bottom: 50px;
}
.home{
    height: 25px;
    width: 25px;
    margin-top: 10px;

}
.titre{
font-size: 20px;
display: flex;
gap: 20px;
}
.nav2{
display: flex;
}
.D_CLIC{
    height: 75px;
    width:250px;
    margin-left: 100px;
    margin-top: -40px;
}
.slogan{
   font-style: italic; 
   font-size: 45px; 
   color: white;
   margin-left: 150px;
   margin-top: -20px;
}
.section1{
    
}
.element{
padding: 20px;
}
.section2{
    width: 100%;
    height: 600px;
    background-color: rgb(14, 169, 241);
}
.logo1{
    width: 300px;
    height: 150px ;
    margin-left: 100px;
margin-top: 50px;
}
.qui{
    font-size: 100px;
    color: blue;
    margin-left: 500px;
    margin-top: -200px; 
} 
.nous{
    font-size: 50px;
    color: rgb(86, 253, 86);
    margin-left: 600px;
    margin-top: -30px; 
}
.texte{
    color: white;
    font-size: 20px;
    margin-left: 450px;
    margin-top: -15px; 
}
.vous{
    color: rgb(8, 8, 133);
    font-size: 50px;
    margin-left: 350px;
    margin-top: -5px; 
}
.section3{
    background-color: white;
width: 100%;
height: 700px;

}
.beneficiare{
    margin-left: 200px;
    margin-top: -10px;
    border-radius: 5px;
    text-decoration:  underline red; 
    padding: 20px;
}

.drapeau{
    /* display: flex;
    justify-content: space-between;
    justify-content: space-around; */
    padding: 00px;
}
.drap1{
    width: 300px;
    height: 20px;
    margin-right: 200px ;
}
.drap2{
    width: 300px;
    height: 300px;
    margin-left: 100px ;
}

.drap3{
    width: 300px;
    height: 300px;
    margin-left: 150px ;
}
.mon{
    color: black;
margin-left: 300px;

}
.section4{
    background-color: white;
    width: 100%;
    height: 1100px;
}
.formation{
    text-decoration: underline red;
    padding: 20px;
    margin-left: 400px;
}
.decrit{
    font-size: 30px; 
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 350px; 
    color: rgb(78, 238, 78);
     margin-bottom: 150px;
     
} 
.card2{
   
   margin-right: 200px;
    padding: 50px; 
    margin: auto;
}
.card1{
    margin-left: 50px;
   padding: 5px; 
}
.section5{
    width: 100%;
    height: 800px;
}
.témoins{
    text-decoration: underline red;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: 400px;
}
.footer{
    background-color: rgb(223, 223, 238);
    width: 100%;
    height: 600px;
    padding: 5px;
}
.slog{
   
margin-left: 20px;
color: white;
font-size: 20px;
margin-top: 20px; 
} 
 .bleu{
    background-color: rgb(131, 178, 248);
    width: 300px;
    height: 150px;
margin: 100px;
    
 
} 
.minilogo{

    margin-top: 15px;
    margin-left: 70px; 
    width: 150px;
 height: 70px;
}
.contact{
font-size: 20px;
 margin-left: 600px;
 margin-top: -300px;
 color: white;
}
.sloge{
 color: red;
font-size: 30px;
margin-left: 500px;
}
.formulaire{
    width: 400px;
    height: 400px;
    margin-left: 500px;
}



