*{
    padding: 0%;
    margin: 0%;
}
nav{
    background: pink;
    position: fixed;
    width: 100%;
    height: 10%;
    top: -80px;
    transition: 4s;
}
ul{
    /* display: flex; */
    align-items: center;
     justify-content: space-between;
     padding: 0; 
}
